<%- include("partials/header.ejs") %>
  <h2 style="text-align: left;">Email sent</h2>
<hr>
<h5>Hello <%=name%>, from your mail id : <%=email%> , your comment : " <%=comment%> " has been sent to Brijit Adak. He will come back to you.</h5>
<%- include("partials/footer.ejs") %>